#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
#clock{
  position: relative;
  display: inline-block;
  z-index: 1;
  width:50%;
  margin:0 auto;
  font-size: 72px;
  font-family: 'Open Sans', sans-serif
}

#clock span{
  color:white;
  background-color:rgba(0,0,0,.2);
  border-radius: 2px 2px 2px 2px;
  
}